<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Contact Me</title>
        <!-- favicon -->
        <link rel="shortcut icon" href="../content/assets/images/favicon_io/favicon.ico" type="image/x-icon">
        <!-- font awsome -->
        <link rel="stylesheet" href="../content/style/vendor/all.min.css">
        <!-- bootstrap -->
        <link rel="stylesheet" href="../content/style/vendor/bootstrap.min.css">
        <!-- aos -->
        <link rel="stylesheet" href="../content/style/vendor/aos.css">
        <!-- glidejs -->
        <link rel="stylesheet" href="../content/style/vendor/glide.core.css">
        <!-- normalize css -->
        <link rel="stylesheet" href="../content/style/vendor/normalize.css">
        <!-- main css -->
        <link rel="stylesheet" href="../content/style/style.css">
        <!-- media css -->
        <link rel="stylesheet" href="../content/style/media.css">
    </head>
<body>
    <!-- header -->
    <header class="main-header overflow-hidden" id="home">
        <!-- nav -->
        <nav class="navbar navbar-expand-lg  fixed-top">
            <div class="container ">
                <a class="navbar-brand nav__logo" href="#contact">
                    <img class="logo" src="../content/assets/images/favicon_io/apple-touch-icon.png" alt="nav-logo">
                    Zakaria Elkashef
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">
                    <i class="fas fa-bars"></i>
                </span>
                </button>
                <div class="collapse navbar-collapse text" id="navbarNav">
                    <ul class="navbar-nav ms-auto text-center">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="../index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./about.html">about</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./services.html">services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./skills.html">skills</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./projects.html">porjects</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./contact.html">contact</a>
                        </li>
                </ul>
            </div>
            </div>
        </nav>
        <!-- end of nav -->
        <!-- banner -->
        <div class="banner">
            <div class="container">
                <div class="row">
                    <img class="header__img" src="../content/assets/images/header.png" alt="header__img">
                    <div class="hero ">
                        <h3>hello, my name is</h3>
                        <h1>Zakaria Elkashef</h1>
                        <h4>and i'm a <span id="type-1"></span></h4>
                        <div class="btns">
                            <a href="#contact" class="main-btn">hire me </a>
                            <a href="../content/assets/cv/My-CV.pdf" download="Zakaria-Elkashef" class="main-btn cv-btn">download cv </a>
                        </div>
                    </div>
                </div>
                <div class="header__icons">
                    <a href="https://www.facebook.com/profile.php?id=100033274185540" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://twitter.com/ZakariaElkashe1" target="_blank"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.linkedin.com/in/zakaria-elkashef-399957207" target="_blank"><i class="fab fa-linkedin"></i></a>
                    <a href="https://wa.me/201210987036" target="_blank"><i class="fab fa-whatsapp"></i></a>
                </div>
            </div>
        </div>
        <!-- end of banner -->
    </header>
    <!-- end of header -->

    <!-- main -->
    <main class="main-section">



        <!-- contact section -->
        <section class="contact-section overflow-hidden" id="contact">
            <div class="container">
                <h2>contact me</h2>
                <div class="row ">
                    <div class="col-md-6 get-touch"  data-aos="fade-down-right" data-aos-duration="2000">
                        <h4>get in touch</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa perferendis nisi sed pariatur. Illum, vel quod magni eos, quasi beatae odit labore eaque rem enim facere et accusantium veritatis incidunt.</p>
                        <div class="contact__icons">
                            <div class=" ">
                                <span class="contact__icon"><i class="fas fa-user"></i></span>
                                <span class="conact__title">Name<br>Zakaria Elkashef</span>
                            </div>
                            <div>
                                <span class="contact__icon"><i class="fas fa-map-marker-alt"></i></span>
                                <span class="conact__title">Address<br>Egypt</span>
                            </div>
                            <a  href="mailto:zakariaelkashef2020@gmail.com" >
                                <span class="contact__icon"><i class="fas fa-envelope"></i></span>
                                <span class="conact__title">Email<br>zakariaelkashef2020@gmail.com</span>
                            </a>
                            <a href="tel:+201210987036">
                                <span class="contact__icon"><i class="fas fa-phone"></i></span>
                                <span class="conact__title">Phone<br>+201210987036</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6 send-message"  data-aos="fade-up-left" data-aos-duration="2000">
                        <h4>message me</h4>
                        <div class="contact-form">
                            <div class="message"></div>
                            <form id="form" action="https://formspree.io/f/mdoyeony" method="POST">
                                <input id="value" required type="text" name="name" placeholder="Name">
                                <input id="value" required type="email" name="email" placeholder="Email">
                                <input id="valuerequired type="text" name="subject" placeholder="Subject">
                                <textarea id="value" name="message" cols="30" rows="10" placeholder="Describe your project"></textarea>
                                <button id="form-btn" type="submit" class="main-btn">send message</button>
                            </form>
                        </div>
                    </div>
                </div>
                
            </div>
        </section>
        <!-- end of contact section -->
    </main>
    <!-- end of main -->




    <!-- footer -->
    <footer class="main-footer">
        <div class="container">
            <div class="footer__topics">
                <p><span>topics</span> <a href="javascript:void(0)">Web Hosting</a>  |  <a href="javascript:void(0)">Customer Spotlights</a>  |  <a href="javascript:void(0)">Design + Creative</a>  |  <a href="javascript:void(0)">Web Development + Tech</a>  |  <a href="javascript:void(0)">Work + Life</a>  |  <a href="javascript:void(0)">Cloud Hosting</a href="javascript:void(0)">  |  <a href="javascript:void(0)">Media Temple Updates</a></p>
            </div>
            <div class="footer__icons">
                <p>
                    <span>STAY CONNECTED</span>
                    <a href="https://www.facebook.com/profile.php?id=100033274185540" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://twitter.com/ZakariaElkashe1" target="_blank"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.linkedin.com/in/zakaria-elkashef-399957207" target="_blank"><i class="fab fa-linkedin"></i></a>
                    <a href="https://wa.me/201210987036" target="_blank"><i class="fab fa-whatsapp"></i></a>
                </p>
            </div>
        </div>
    </footer>
    <footer class="last-footer">
        <p>© copyright  2021 | Legal  Privacy  Do Not Sell My Personal Information </p>
    </footer>
    <!-- ond of footer -->



    <!-- jquery -->
    <script src="../content/js/vendor/jquery-3.6.0.min.js"></script>
    <!-- font awsome -->
    <script src="../content/js/vendor/all.min.js"></script>
    <!-- botstrap -->
    <script src="../content/js/vendor/bootstrap.bundle.js"></script>
    <!-- aos -->
    <script src="../content/js/vendor/aos.js"></script>
    <!-- glide js -->
    <script src="../content/js/vendor/glide.min.js"></script>
    <!-- typeit -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typeit/7.0.4/typeit.min.js" integrity="sha512-8n76hXrEZEjWeAITXGVFTfxFAXZpj4+waRLRktraeC2Yq/2PuvmtM6Fft5ce0ifobSCCuIwjGSYMI38UfJpiSw==" crossorigin="anonymous"></script>
    <!-- gsap -->
    <script src="../content/js/vendor/gsap.min.js"></script>
    <!-- main js -->
    <script src="../content/js/contact.js"></script>
</body>
</html>