<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zakaria Elkashef</title>
    <!-- favicon -->
    <link rel="shortcut icon" href="../content/assets/images/favicon_io/favicon.ico" type="image/x-icon">
    <!-- font awsome -->
    <link rel="stylesheet" href="../content/style/vendor/all.min.css">
    <!-- bootstrap -->
    <link rel="stylesheet" href="../content/style/vendor/bootstrap.min.css">
    <!-- aos -->
    <link rel="stylesheet" href="../content/style/vendor/aos.css">
    <!-- glidejs -->
    <link rel="stylesheet" href="../content/style/vendor/glide.core.css">
    <!-- normalize css -->
    <link rel="stylesheet" href="../content/style/vendor/normalize.css">
    <!-- main css -->
    <link rel="stylesheet" href="../content/style/style.css">
    <!-- media css -->
    <link rel="stylesheet" href="../content/style/media.css">
</head>
<body>

    <!-- loader -->
    <!-- <div class="water-container">
        <div class="water"></div>
    </div> -->
    <!-- end of loader -->

    <!-- header -->
    <header class="main-header overflow-hidden" id="home">
        <!-- nav -->
        <nav class="navbar navbar-expand-lg  fixed-top">
            <div class="container ">
                <a class="navbar-brand nav__logo" href="#contact">
                    <img class="logo" src="../content/assets/images/favicon_io/apple-touch-icon.png" alt="nav-logo">
                    Zakaria Elkashef
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">
                    <i class="fas fa-bars"></i>
                </span>
                </button>
                <div class="collapse navbar-collapse text" id="navbarNav">
                    <ul class="navbar-nav ms-auto text-center">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="../master.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./about.html">about</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./services.html">services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./skills.html">skills</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./projects.html">porjects</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./contact.html">contact</a>
                        </li>
                </ul>
            </div>
            </div>
        </nav>
        <!-- end of nav -->
        <!-- banner -->
        <div class="banner">
            <div class="container">
                <div class="row">
                    <img class="header__img" src="../content/assets/images/Remini20210507223632772.png" alt="header__img">
                    <div class="hero ">
                        <h3>hello, my name is</h3>
                        <h1>Zakaria Elkashef</h1>
                        <h4>and i'm a <span id="type-1"></span></h4>
                        <div class="btns">
                            <a href="#contact" class="main-btn">hire me </a>
                            <a href="../content/assets/cv/My-CV.pdf" download="Zakaria-Elkashef" class="main-btn cv-btn">download cv </a>
                        </div>
                    </div>
                </div>
                <div class="header__icons">
                    <a href="https://www.facebook.com/profile.php?id=100033274185540" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://twitter.com/ZakariaElkashe1" target="_blank"><i class="fab fa-twitter"></i></a>
                    <a href="#" target="_blank"><i class="fab fa-linkedin"></i></a>
                    <a href="https://wa.me/201210987036" target="_blank"><i class="fab fa-whatsapp"></i></a>
                </div>
            </div>
        </div>
        <!-- end of banner -->
    </header>
    <!-- end of header -->

    <!-- main -->
    <main class="main-section">

        <!-- services section -->
        <section class="services-section overflow-hidden py-5" id="services">
            <div class="container">
                <h2>my services</h2>
                <div class="row cards mt-3 g-5">
                    <!-- single card -->
                    <div class="col-md-4"  data-aos="fade-up" data-aos-duration="2000">
                        <div class="card">
                            <span class="serv__icon"><i class="fab fa-accusoft"></i></span>
                            <h4>web devoloper</h4>
                            <p>I Work To Make A Better Web; One That Is Fast, Easy To Use, Beautiful, Accessible To All, And Frustration-Free.</p>
                        </div>
                    </div>
                    <!-- end of single card -->
                    <!-- single card -->
                    <div class="col-md-4"  data-aos="fade-down" data-aos-duration="2000">
                        <div class="card">
                            <span class="serv__icon"><i class="fas fa-chart-line"></i></span>
                            <h4>performance </h4>
                            <p>I Create Successful Websites That Are Fast, Easy To Use, And Built With Best Practices and with clean code.</p>
                        </div>
                    </div>
                    <!-- end of single card -->
                    <!-- single card -->
                    <div class="col-md-4"  data-aos="fade-up" data-aos-duration="2000">
                        <div class="card">
                            <span class="serv__icon"><i class="fas fa-blender-phone"></i></span>
                            <h4> app devolop</h4>
                            <p>combine components of native code written in Objective-C, Swift, or Java with React Native code to build scalable apps.</p>
                        </div>
                    </div>
                    <!-- end of single card -->
                    
                </div>
            </div>
        </section>
        <!-- end of services section -->
    </main>
    <!-- end of main -->
    <!-- footer -->
    <footer class="main-footer">
        <div class="container">
            <div class="footer__topics">
                <p><span>topics</span> <a href="#">Web Hosting</a>  |  <a href="#">Customer Spotlights</a>  |  <a href="#">Design + Creative</a>  |  <a href="#">Web Development + Tech</a>  |  <a href="#">Work + Life</a>  |  <a href="#">Cloud Hosting</a href="#">  |  <a href="#">Media Temple Updates</a></p>
            </div>
            <div class="footer__icons">
                <p>
                    <span>STAY CONNECTED</span>
                    <a href="https://www.facebook.com/profile.php?id=100033274185540" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://twitter.com/ZakariaElkashe1" target="_blank"><i class="fab fa-twitter"></i></a>
                    <a href="#" target="_blank"><i class="fab fa-linkedin"></i></a>
                    <a href="https://wa.me/201210987036" target="_blank"><i class="fab fa-whatsapp"></i></a>
                </p>
            </div>
        </div>
    </footer>
    <footer class="last-footer">
        <p>© copyright  2021 | Legal  Privacy  Do Not Sell My Personal Information </p>
    </footer>
    <!-- ond of footer -->






    <!-- jquery -->
    <script src="../content/js/vendor/jquery-3.6.0.min.js"></script>
    <!-- font awsome -->
    <script src="../content/js/vendor/all.min.js"></script>
    <!-- botstrap -->
    <script src="../content/js/vendor/bootstrap.bundle.js"></script>
    <!-- aos -->
    <script src="../content/js/vendor/aos.js"></script>
    <!-- glide js -->
    <script src="../content/js/vendor/glide.min.js"></script>
    <!-- typeit -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typeit/7.0.4/typeit.min.js" integrity="sha512-8n76hXrEZEjWeAITXGVFTfxFAXZpj4+waRLRktraeC2Yq/2PuvmtM6Fft5ce0ifobSCCuIwjGSYMI38UfJpiSw==" crossorigin="anonymous"></script>
    <!-- gsap -->
    <script src="../content/js/vendor/gsap.min.js"></script>
    <!-- main js -->
    <script src="../content/js/script.js"></script>
</body>
</html>