/* 320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV */

@media screen and (min-width:2000px){
  .header__img {
    width: 60rem;
    right: 15%;
  }
}

@media screen and (max-width: 1200px) {
  .header__img {
    width: 45rem;
  }
  .hero {
    top: 50%;
    transform: translate(0, -50%);
  }
  .hero h1 {
    font-size: 3rem;
  }
  .hero h3,
  .hero h4 {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 1024px) {
  .header__img {
    width: 40rem;
  }
  .hero {
    top: 50%;
    transform: translate(0, -50%);
  }
  .hero h1 {
    font-size: 3rem;
  }
  .hero h3,
  .hero h4 {
    font-size: 1.5rem;
  }
  .about-section .container{
      text-align: center;
  }
  .about-div-img {
    width: 300px;
    
  }
  .about__text p {
    width: 18rem;
    margin: 2rem auto;
  }
}

@media screen and (max-width:991px) {
  nav{
    background: #086efd;
  }
}
@media screen and (max-width: 768px) {
  .header__img {
    width: 30rem;
    
  }
  .hero {
    top: 50%;
    transform: translate(1%, -50%);
  }
  .hero h1 {
    font-size: 3rem;
  }
  .hero h3,
  .hero h4 {
    font-size: 1.5rem;
  }
  .about-div-img{
    margin: auto;
  }
  .skills__text{
    text-align: center;
  }

  /* contact */
  .send-message{
    text-align: center;
  }
  .get-touch{
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 540px) {
  .header__img {
    width: 25rem;
    right: 1%;
  }
  .hero {
    top: 50%;
    transform: translate(1%, -50%);
  }
  .hero h1 {
    font-size: 3rem;
  }
  .hero h3,
  .hero h4 {
    font-size: 1.5rem;
  }
  /* footer */
  .main-footer p{
    font-size: 15px;
  }
}



@media screen and (max-width: 480px) {
  header{
    text-align: center;
  }
  
  .header__img {
    width: 25rem;
    
    
  }
  .hero {
    top: 30%;
    transform: translate(0, -50%);
  }
  .hero h1 {
    font-size: 3rem;
  }
  .hero h3,
  .hero h4 {
    font-size: 1.5rem;
  }
  .header__icons {
    display: none;
  }
  /* about */
  .about-div-img{
    width: 300px;
  }
  /* projects */
  .project{
    width: 250px;
    margin: auto;
  }
}

  /* counter */
  @media screen and (max-width: 1036px) {
    .counter-up{
      padding: 50px 50px 0 50px;
    }
    .counter-up .content .box{
      width: calc(50% - 30px);
      margin-bottom: 50px;
    }
  }
  @media screen and (max-width: 580px) {
    .counter-up .content .box{
      width: 100%;
    }
  }
  @media screen and (max-width: 500px) {
    .wrapper{
      padding: 20px;
    }
    .counter-up{
      padding: 30px 20px 0 20px;
    }
  }
  /* end counter */