/* fonts */
@font-face {
  font-family: Poppins;
  src: url('../assets/fonts/Poppins/Poppins-Regular.eot'), format('eot');
  src: url('../assets/fonts/Poppins/Poppins-Regular.woff'), format('woff');
  src: url('../assets/fonts/Poppins/Poppins-Regular.woff2'), format('woff2');
  src: url('../assets/fonts/Poppins/Poppins-Regular.ttf'), format('ttf');
  src: url('../assets/fonts/Poppins/Poppins-Regular.svg'), format('svg');
}

/* global */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;

}

body {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
  color: #000;
  position: relative;
  z-index: 1;
}

h1,
h2,
h3,
h4 {
  font-weight: 500;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

/* header */
/* nav */
nav{
  background-color: red;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.nav__links a {
  color: #fff;
  margin-left: 10px;
}
.nav__logo img{
  width: 50px;
}
.nav__logo a{
  color: #fff;
  text-transform: capitalize;
  letter-spacing: 2px;
}
.nav__logo a:hover{
  color: #fff;
}


/* end of nav */
/* end ofheader */